.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 40px 28px;
  max-width: 335px;
  width: 100%;
}

.clearBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clearIcon {
  width: 24px;
  height: 24px;
  fill: #262626;
  stroke: #262626;
  stroke-width: 2px;
}

.imgWrapper {
  position: relative;
  margin-bottom: 20px;
}

.noticeImg {
  border-radius: 100px;
  width: 120px;
  height: 120px;
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  text-align: center;
  padding: 8px;
  width: 48px;
  height: 32px;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #f6b83d;
  text-transform: capitalize;
  background-color: #fff4df;
  z-index: 10;
}

.title {
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  margin-bottom: 10px;
}

.pop {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #2b2b2a;
  margin-bottom: 26px;
}

.star {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starActive {
  fill: #ffc531;
}

.starEmpty {
  fill: rgba(38, 38, 38, 0.05);
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  padding: 0;
  margin-bottom: 16px !important;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  text-align: left;
}

.span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #262626;
  text-transform: capitalize;
}

.comment {
  height: 36px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #2b2b2a;
  text-align: center;
  margin-bottom: 16px;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  text-align: left;
  margin-bottom: 20px;
}

.actions {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.heart {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #fff;
  margin-left: 9px;
}

@media (min-width: 768px) {
  .modal {
    width: 473px;
    padding: 40px 71px;
  }
}
