.newsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px !important;
}

.newsItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .newsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 24px;
  }

  .newsItem {
    max-width: none;
  }
}

@media (min-width: 1280px) {
  .newsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 68px 34px;
  }
  .newsItem {
    height: 476px;
  }
}
