.newsImg {
  border-radius: 15px;
  width: 100%;
  height: 190px;
  object-fit: cover;
  margin-bottom: 20px;
}

.itemTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* … */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 12px;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* … */
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 19px;
  max-height: 80px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}

.date {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

@media (min-width: 768px) {
  .newsImg {
    margin-bottom: 28px;
    height: 226px;
  }

  .itemTitle {
    font-size: 20px;
    line-height: 1.3;
    height: 52px;
    margin-bottom: 14px;
  }

  .text {
    font-size: 16px;
    line-height: 1.25;
    height: 80px;
    margin-bottom: 28px;
  }

  .date,
  .link {
    font-size: 16px;
  }
}
