.menu,
.isHome {
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 100vh;
  padding: 236px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu {
  background-color: #f6b83d;
}

.isHome {
  background-color: #fff;
}

.menu.open {
  transform: translateX(0);
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  overflow: hidden;
  top: 28px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.iconClose,
.iconClose.homeBtn {
  width: 32px;
  height: 32px;
  stroke-width: 3px;
}

.iconClose {
  stroke: #fff;
}

.iconClose.homeBtn {
  stroke: #262626;
}

@media (min-width: 768px) {
  .menu {
    width: 374px;
  }
}
