.petsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px !important;
}

.item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 16px !important;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .petsList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    max-width: 305px;
    padding: 22px 16px !important;
  }
}

@media (min-width: 1280px) {
  .petsList {
    margin-bottom: 40px !important;
  }

  .item {
    max-width: 100%;
    align-items: center;
    gap: 25px;
    padding: 20px !important;
  }
}
