.petsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px !important;
}

.item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 16px !important;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 132px;
}
