.userCard {
  position: relative;
  border-radius: 30px;
  padding: 18px 20px 40px 20px;
  background-color: #fff;
}

.button {
  width: 114px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .userCard {
    padding: 40px;
  }
}
