.filters {
  width: 100%;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(38, 38, 38, 0.1);
}

.search input {
  border: 1px solid transparent;
  font-size: 14px;
}

.search input::placeholder {
  color: #262626;
}

.selectWrapper {
  width: 100%;
}

.categorySex {
  display: flex;
  gap: 8px;
  width: 100%;
}

.categorySex > div {
  flex: 1;
}

.filters :global(.react-select__menu-list)::-webkit-scrollbar {
  width: 8px;
}

.filters :global(.react-select__menu-list)::-webkit-scrollbar-track {
  background: transparent;
}

.filters :global(.react-select__menu-list)::-webkit-scrollbar-thumb {
  background-color: rgba(38, 38, 38, 0.08);
  border-radius: 10px;
}

.filters :global(.react-select__menu-list) {
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 38, 38, 0.08) transparent;
}

.sortWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: 12px;
}

.sort {
  border-radius: 30px;
  padding: 12px;
  height: 42px;
  background-color: #fff;
  border: 1px solid transparent;
  font-size: 14px;
  display: none;
  cursor: pointer;
}

.sortItem {
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: border 0.3s ease-in-out;
}

.sortItem:hover {
  border: 1px solid #f6b83d;
}

.radioLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 12px;
  font-size: 14px;
  height: 42px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.sort:checked + .radioLabel {
  background-color: #f6b83d;
  color: #fff;
  padding-right: 36px;
}

.clearBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clearIcon {
  width: 18px;
  height: 18px;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2px;
}
