.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    padding: 0 32px;
  }
}
