.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 40px 20px;
  max-width: 335px;
  width: 100%;
}

.clearBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clearIcon {
  width: 24px;
  height: 24px;
  fill: #262626;
  stroke: #262626;
  stroke-width: 2px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #2b2b2a;
  text-align: left;
  margin-bottom: 20px;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.bigIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  border-radius: 100px;
  background-color: #fff4df;
}

.bigIcon {
  width: 40px;
  height: 40px;
  fill: #f6b83d;
  stroke-width: 2px;
  stroke: #f6b83d;
}

.upload {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.uploadInput {
  width: 126px;
  height: 42px;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #262626;
  padding: 12px;
  background-color: #fff4df;
}

.iconUpload {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #f6b83d;
  fill: #f6b83d;
}

.list {
  margin-bottom: 21px !important;
}

.item,
.photo {
  text-align: left;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px !important;
  width: 100%;
  height: 42px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.itemValue {
  border: 1px solid #f6b83d;
}

.text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #262626;
}
