.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 80px;
  margin: 0 auto 12px;
}

.avatar {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100px;
}

.bigIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff4df;
}

.bigIcon {
  width: 40px;
  height: 40px;
  fill: #f6b83d;
  stroke-width: 2px;
  stroke: #f6b83d;
}

.upload {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.uploadInput {
  width: 126px;
  height: 42px;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #262626;
  padding: 13px 12px;
  background-color: #fff4df;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
}

.uploadInput:hover,
.uploadInput:focus {
  background-color: #fbe7c1;
}

.uploadIcon {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #f6b83d;
  fill: transparent;
  margin-left: 6px;
  vertical-align: middle;
}

.item {
  text-align: left;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px !important;
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  transition: border 0.3s ease-in-out;
  margin-bottom: 10px;
}

.last {
  margin-bottom: 21px;
}

.item::placeholder {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
}

.item:hover,
.item:focus {
  border: 1px solid #f6b83d;
  outline: none;
}

.itemValue {
  border: 1px solid #f6b83d;
}

.readonly {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
}

.error {
  font-size: 10px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-align: left;
  padding: 2px;
}
