.addForm {
  border-radius: 30px;
  background-color: #fff;
  padding: 28px 20px 20px 20px;
}

.titleWrapper {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.details {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(43, 43, 42, 0.4);
  text-transform: capitalize;
}

.sexGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
  max-width: 112px;
  margin-bottom: 8px;
}

.sexLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 30px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: none;
}

.female .icon {
  stroke-width: 1.5px;
  stroke: #f43f5e;
}

.male .icon {
  stroke-width: 1.5px;
  stroke: #54adff;
}

.multiple .icon {
  fill: #f6b83d;
}

.sexActive .icon {
  stroke: #fff;
}

.sexActive.female {
  background-color: #f43f5e;
}

.sexActive.male {
  background-color: #54adff;
}

.sexActive.multiple {
  background-color: #f6b83d;
}

.female {
  background-color: rgba(244, 63, 94, 0.1);
}

.male {
  background-color: rgba(84, 173, 255, 0.1);
}

.multiple {
  background-color: #fff4df;
}

.avatarWrapper {
  margin-bottom: 16px;
}

.avatar {
  display: block;
  width: 68px;
  height: 68px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 auto;
}

.bigIconWrapper {
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff4df;
  margin: 0 auto;
}

.bigIcon {
  width: 40px;
  height: 40px;
  fill: #f6b83d;
}

.upload {
  display: flex;
  gap: 2px 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.uploadInput {
  width: 117px;
  height: 36px;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #262626;
  padding: 10px;
  background-color: #fff4df;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
}

.uploadInput:hover,
.uploadInput:focus {
  background-color: #fbe7c1;
}

.uploadIcon {
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  stroke: #f6b83d;
  fill: transparent;
  margin-left: 5px;
  vertical-align: middle;
}

.inputWrapper {
  margin-bottom: 10px;
}

.item {
  text-align: left;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px !important;
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  transition: border 0.3s ease-in-out;
}

.dateSpecies .item {
  width: 144px;
  margin-bottom: 31px;
}

.last {
  margin-bottom: 21px;
}

.item::placeholder,
.item.item.readonly::placeholder,
.placeholder {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.item:hover,
.item:focus {
  border: 1px solid #f6b83d;
  outline: none;
}

.itemValue {
  border: 1px solid #f6b83d;
}

.item.readonly {
  width: calc(100% - 117px - 8px);
  height: 36px;
  padding: 9px 10px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
}

.dateSpecies {
  display: flex;
  gap: 8px;
  margin-bottom: 31px;
}

.buttonsWrapper {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.button {
  width: 100px;
}

.dateWrapper {
  width: calc((100% - 8px) / 2);
}

.datePicker {
  width: 100%;
  height: 42px;
}

.datePicker :global(.react-date-picker__wrapper) {
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 0 7px 0 10px;
  height: 42px;
  transition: border 0.3s ease-in-out;
  background-color: #fff;
}

.datePicker:global(.react-date-picker) {
  border: none;
}

.datePicker :global(.react-date-picker__wrapper:hover),
.datePicker :global(.react-date-picker__wrapper:focus-within) {
  border: 1px solid #f6b83d;
}

.hasValue :global(.react-date-picker__wrapper) {
  border: 1px solid #f6b83d;
}

.errorBorder :global(.react-date-picker__wrapper) {
  border: 1px solid #ef2447 !important;
}

.datePicker :global(.react-date-picker__inputGroup) {
  display: flex;
  min-width: 0;
  flex: 1;
  align-items: baseline;
  overflow: hidden;
}

.datePicker :global(.react-date-picker__inputGroup__input) {
  border: none;
  outline: none;
  font-family: inherit !important;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #262626;

  flex: 0 0 auto;
  padding: 0 !important;
  margin: 0;
  text-align: left;
}

.datePicker :global(.react-date-picker__inputGroup__input::placeholder) {
  color: rgba(38, 38, 38, 0.5);
}

.datePicker :global(.react-date-picker__inputGroup__input:invalid) {
  background: #fff;
}

.datePicker :global(.react-date-picker__inputGroup__day),
.datePicker :global(.react-date-picker__inputGroup__month) {
  width: 18px;
  flex: 0 0 18px;
}

.datePicker :global(.react-date-picker__inputGroup__year) {
  width: 34px;
  flex: 0 0 34px;
}

.datePicker :global(.react-date-picker__inputGroup__divider) {
  padding: 0;
  font-size: 14px;
}

.datePicker :global(.react-date-picker__inputGroup__leadingZero) {
  font-family: inherit !important;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #262626;
}

.calendarIcon {
  width: 18px;
  height: 18px;
  stroke-width: 1.5px;
  stroke: #262626;
}

.datePicker :global(.react-calendar) {
  width: 260px;
  border-radius: 20px;
  border: none;
  padding: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  font-family: inherit;
}

.datePicker :global(.react-calendar__navigation) {
  margin-bottom: 10px;
}

.datePicker :global(.react-calendar__navigation button) {
  min-width: 32px;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

.datePicker :global(.react-calendar__tile) {
  height: 32px;
  border-radius: 10px;
  font-size: 13px;
  background: none;
}

.datePicker :global(.react-calendar__tile:enabled:hover) {
  background-color: #fff4df;
}

.datePicker :global(.react-calendar__tile--active) {
  background: #f6b83d !important;
  color: #fff;
  border-radius: 10px;
}

.datePicker :global(.react-calendar__tile--now) {
  background: transparent;
  border: 1px solid #f6b83d;
  border-radius: 10px;
}

.typeWrapper {
  width: calc((100% - 8px) / 2);
}

.select {
  width: 100%;
}

.datePicker :global(.react-calendar button:focus) {
  outline: none;
}

.dateSpecies :global(.react-select__menu-list)::-webkit-scrollbar {
  width: 8px;
}

.dateSpecies :global(.react-select__menu-list)::-webkit-scrollbar-track {
  background: transparent;
}

.dateSpecies :global(.react-select__menu-list)::-webkit-scrollbar-thumb {
  background-color: rgba(38, 38, 38, 0.08);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.dateSpecies :global(.react-select__menu-list) {
  scrollbar-width: initial;
  scrollbar-color: rgba(38, 38, 38, 0.08) transparent;
}

.error {
  min-height: 12px;
  padding-left: 12px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  color: #ef2447;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.errorBorder,
.item.errorBorder:hover,
.item.errorBorder:focus {
  border: 1px solid #ef2447;
}

@media (min-width: 768px) {
  .addForm {
    padding: 40px 136px;
  }

  .titleWrapper {
    margin-bottom: 40px;
  }

  .title {
    font-size: 32px;
  }

  .details {
    font-size: 16px;
    line-height: 1.25;
  }

  .sexAvatarWrapper {
    display: flex;
    gap: 37px;
    justify-content: flex-start;
  }

  .avatarWrapper {
    margin: 18px 0 12px;
  }

  .avatar,
  .bigIconWrapper {
    width: 86px;
    height: 86px;
  }

  .bigIcon {
    width: 44px;
    height: 44px;
  }

  .sexGroup {
    max-width: 136px;
    height: fit-content;
    margin-bottom: 0;
  }

  .sexLabel {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .upload {
    margin-bottom: 18px;
  }

  .uploadInput {
    width: 146px;
    height: 42px;
    font-size: 14px;
    line-height: 1.28571;
    padding: 12px 16px;
  }

  .uploadIcon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }

  .inputWrapper {
    margin-bottom: 18px;
  }

  .item {
    height: 52px;
    padding: 16px !important;
  }

  .item,
  .item::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .item.readonly {
    width: calc(100% - 146px - 8px);
    font-size: 14px;
    line-height: 1.28571;
    height: 42px;
    padding: 12px !important;
  }

  .item.readonly::placeholder {
    font-size: 14px !important;
    line-height: 1.28571;
  }

  .datePicker {
    height: 52px;
  }

  .datePicker :global(.react-date-picker__wrapper) {
    height: 52px;
    padding: 0 10px 0 14px;
  }

  .datePicker :global(.react-date-picker__inputGroup) {
    text-align: left;
  }

  .datePicker :global(.react-date-picker__inputGroup__input),
  .datePicker :global(.react-date-picker__inputGroup__leadingZero),
  .datePicker :global(.react-date-picker__inputGroup__divider) {
    font-size: 16px;
    line-height: 1.25;
  }

  .datePicker :global(.react-date-picker__inputGroup__day),
  .datePicker :global(.react-date-picker__inputGroup__month) {
    width: 20px;
    flex: 0 0 20px;
  }

  .datePicker :global(.react-date-picker__inputGroup__year) {
    width: 44px;
    flex: 0 0 44px;
  }

  .calendarIcon {
    width: 20px;
    height: 20px;
    stroke-width: 1.8px;
  }

  .dateSpecies {
    margin-bottom: 40px;
  }

  .button {
    width: 170px;
    height: 48px;
  }
}

@media (min-width: 1280px) {
  .addForm {
    padding: 60px 80px;
  }
}
