.loginForm {
  border-radius: 30px;
  height: 422px;
  background-color: #fff;
  padding: 60px 20px;
}

.loginTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 16px;
}

.loginText {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 32px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0 0 64px 0;
  border: none;
}

.field {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.8);
  transition: border 0.3s ease-in-out;
}

.field:hover,
.field:focus {
  outline: none;
  border: 1px solid #f6b83d;
}

.field::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.button {
  margin-bottom: 16px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.span {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}

@media (min-width: 768px) {
  .loginForm {
    border-radius: 60px;
    height: 560px;
    padding: 71px 140px;
  }

  .loginTitle {
    font-size: 54px;
  }
}

@media (min-width: 1280px) {
}
