.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  width: 100%;
}

.homeHero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.homeHeader {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 18px 0;
}

@media (min-width: 768px) {
  .homeHeader {
    top: 16px;
    padding: 16px 0;
  }
}
