.noticesPage {
  padding-top: 40px;
  padding-bottom: 88px;
}

.title {
  margin-bottom: 40px;
}

.searchWrapper {
  border-radius: 30px;
  background-color: #fff4df;
  padding: 20px;
  margin-bottom: 40px;
}

.noWrapper {
  width: 100%;
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
}

.noResults {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #f6b83d;
}

@media (min-width: 768px) {
  .noticesPage {
    padding-top: 87px;
  }

  .title {
    margin-bottom: 44px;
  }

  .searchWrapper {
    padding: 40px 32px;
  }
}

@media (min-width: 1280px) {
  .noticesPage {
    padding-top: 87px;
    padding-bottom: 80px;
  }

  .title {
    margin-left: 32px;
    margin-right: 32px;
  }

  .searchWrapper {
    padding: 40px;
  }
}
