.noticesPage {
  padding-top: 40px;
  padding-bottom: 88px;
}

.title {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .noticesPage {
    padding-top: 87px;
  }

  .title {
    margin-bottom: 44px;
  }
}

@media (min-width: 1280px) {
  .noticesPage {
    padding-top: 87px;
    padding-bottom: 80px;
  }

  .title {
    margin-left: 32px;
    margin-right: 32px;
  }
}
