.wrapper {
  position: relative;
  width: 100%;
}

.field {
  width: 100%;
}

.field.error {
  border: 1px solid #ef2447;
}

.field.success {
  border: 1px solid #08aa83;
}

.clearBtn {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-35%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.iconClear {
  stroke-width: 1.5px;
  stroke: #ef2447;
}

.ok {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 12px;
  top: 35%;
  transform: translateY(-35%);
  stroke-width: 1.5px;
  stroke: #08aa83;
  fill: none;
}

.pwdIcon,
.pwdBtn {
  right: 38px;
}

.messageArea {
  min-height: 12px;
  padding-left: 12px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.errorText,
.successText {
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.errorText {
  color: #ef2447;
}

.successText {
  color: #08aa83;
}

@media (min-width: 768px) {
  .messageArea {
    min-height: 14px;
    margin-top: 4px;
  }

  .ok,
  .iconClear {
    width: 22px;
    height: 22px;
  }

  .ok,
  .clearBtn {
    right: 15px;
  }

  .pwdIcon,
  .pwdBtn {
    right: 50px;
  }
}
