.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.spacer {
  height: 20px;
}

@media (min-width: 768px) {
  .spacer {
    height: 60px;
  }
}
