.header {
  width: 100%;
  padding: 28px 20px;
  background-color: transparent;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) {
  .menuWrapper {
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .headerContainer {
    padding: 32px 64px;
    justify-content: space-around;
  }
}
