.header {
  width: 100%;
  padding: 28px 0px 20px 0px;
  background-color: transparent;
  z-index: 20;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) {
  .menuWrapper {
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .header .headerContainer {
    padding: 0 64px;
    justify-content: baseline;
  }
}
