.header {
  width: 100%;
  padding: 28px 0px 20px 0px;
  background-color: transparent;
  z-index: 20;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeContainer {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.menuWrapper {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) {
  .menuWrapper {
    gap: 16px;
  }

  .homeContainer {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
}

@media (min-width: 1280px) {
  .header .headerContainer {
    padding: 0 64px;
    justify-content: baseline;
  }

  .homeContainer {
    padding-left: 96px !important;
    padding-right: 96px !important;
  }
}
