.wrapper {
  display: flex;
  gap: 8px;
}

.vertical {
  flex-direction: column;
  width: 100%;
}

.button {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
