.loginPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 32px;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  height: 280px;
  background: url(../../assets/images/dog-login-mob.webp) center/contain
      no-repeat,
    url(../../assets/images/rectangle.webp) right bottom/auto no-repeat, #f6b83d;
}

.textWrapper {
  display: none;
}

@media screen and (min-resolution: 192dpi) {
  .wrapper {
    background: url(../../assets/images/dog-login-mob-2x.webp) center/contain
        no-repeat,
      url(../../assets/images/rectangle.webp) right bottom/auto no-repeat,
      #f6b83d;
  }
}

@media (min-width: 768px) {
  .loginPage {
    gap: 16px;
    margin-top: 12px;
  }

  .wrapper {
    height: 302px;
    border-radius: 60px;
    padding-left: 32px;
    padding-bottom: 32px;
    justify-content: flex-start;
    background: url(../../assets/images/dog-login-tab.webp) center/contain
        no-repeat,
      url(../../assets/images/rectangle-tab.webp) calc(100% - 50px) bottom/auto
        no-repeat,
      #f6b83d;
  }

  .textWrapper {
    display: flex;
    gap: 8px;
    width: 294px;
    height: 121px;
    border-radius: 20px;
    padding: 16px;
    background-color: #fff;
  }

  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff4df;
  }

  .nameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .dogName {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #f6b83d;
  }

  .birthday {
    font-size: 12px;
    line-height: 1.16667;
    color: rgba(38, 38, 38, 0.5);
  }

  .birthday span {
    color: #262626;
  }

  .dogText {
    max-width: 194px;
    text-align: left;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.8);
  }

  @media screen and (min-resolution: 192dpi) {
    .wrapper {
      background: url(../../assets/images/dog-login-tab-2x.webp) center/contain
          no-repeat,
        url(../../assets/images/rectangle-tab.webp) calc(100% - 50px)
          bottom/auto no-repeat,
        #f6b83d;
    }
  }
}

@media (min-width: 1280px) {
  .loginPage {
    flex-direction: row;
    gap: 32px;
  }

  .wrapper {
    max-width: 592px;
    height: 654px;
    border-radius: 60px;
    padding-left: 61px;
    padding-bottom: 97px;
    justify-content: flex-start;
    background: url(../../assets/images/dog-login-desc.webp) center/contain
        no-repeat,
      url(../../assets/images/rectangle-desc.webp) center bottom/auto no-repeat,
      #f6b83d;
  }

  @media screen and (min-resolution: 192dpi) {
    .wrapper {
      background: url(../../assets/images/dog-login-desc-2x.webp) center/contain
          no-repeat,
        url(../../assets/images/rectangle-tab.webp) center bottom/auto no-repeat,
        #f6b83d;
    }
  }
}
