.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  padding: 0;
}

.menuBtn:focus {
  outline: none;
}

.menuIcon {
  stroke-width: 3px;
  stroke: #262626;
  width: 32px;
  height: 32px;
}

.iconHome {
  stroke-width: 3px;
  stroke: #fff;
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .menuIcon,
  .iconHome {
    width: 36px;
    height: 36px;
  }
}
