.noticesImg {
  height: 178px;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 24px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.itemTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
}

.pop {
  display: flex;
  align-items: center;
  gap: 1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #2b2b2a;
}

.star {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starActive {
  fill: #ffc531;
}

.starEmpty {
  fill: rgba(38, 38, 38, 0.05);
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 0;
  margin-bottom: 16px !important;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  text-align: left;
}

.span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #262626;
  text-transform: capitalize;
}

.comment {
  height: 36px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #2b2b2a;
  text-align: left;
  margin-bottom: 16px;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  text-align: left;
  margin-bottom: 12px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.button {
  width: 100%;
  height: 46px;
  text-transform: capitalize;
}

.heartBtn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 30px;
  background-color: #fff4df;
  border: none;
  transition: background 0.3s ease-in-out;
}

.heartBtn:hover {
  background-color: #fbe7c1;
}

.heart {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #ffc531;
}

@media (min-width: 768px) {
  .comment {
    margin-bottom: 24px;
  }

  .itemTitle {
    font-size: 18px;
    line-height: 1.33333;
  }

  .pop {
    line-height: 1.42857;
  }

  .info {
    gap: 16px;
  }

  .price {
    font-size: 18px;
    line-height: 1.33333;
  }

  .button {
    height: 48px;
  }

  .heartBtn {
    width: 48px;
    height: 48px;
  }
}
