.noticesList {
  width: 100%;
  padding: 0;
  margin-bottom: 44px !important;
}

.noticesItem {
  border-radius: 16px;
  padding: 24px !important;
  background-color: #fff;
}

.noticesItem:not(:last-child) {
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
}

.loaderOverlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);

  z-index: 5;
}

@media (min-width: 768px) {
  .noticesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .noticesItem {
    max-width: none;
    width: calc((100% - 20px) / 2);
  }

  .noticesItem:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  .noticesList {
    gap: 40px 32px;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .noticesItem {
    width: calc((100% - 64px) / 3);
  }
}
