.addPetPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 32px;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  height: 213px;
  background:
    url(../../assets/images/addpet-mob.webp) center/contain no-repeat,
    url(../../assets/images/rectangle.webp) right 38px / auto no-repeat,
    #f6b83d;
}

@media screen and (min-resolution: 192dpi) {
  .wrapper {
    background:
      url(../../assets/images/addpet-mob-2x.webp) center/contain no-repeat,
      url(../../assets/images/rectangle.webp) right 38px / auto no-repeat,
      #f6b83d;
  }
}

@media (min-width: 768px) {
  .addPetPage {
    gap: 16px;
    margin-top: 12px;
  }

  .wrapper {
    height: 248px;
    border-radius: 60px;
    background:
      url(../../assets/images/addpet-tab.webp) center/contain no-repeat,
      url(../../assets/images/rectangle-tab.webp) calc(50% + 32px) 52px / auto
        no-repeat,
      #f6b83d;
  }

  @media screen and (min-resolution: 192dpi) {
    .wrapper {
      background:
        url(../../assets/images/addpet-tab-2x.webp) center/contain no-repeat,
        url(../../assets/images/rectangle-tab.webp) calc(50% + 32px) 52px / auto
          no-repeat,
        #f6b83d;
    }
  }
}

@media (min-width: 1280px) {
  .addPetPage {
    flex-direction: row;
    gap: 32px;
  }

  .wrapper {
    width: calc((100% - 32px) / 2);
    height: 654px;
    border-radius: 60px;
    background:
      url(../../assets/images/addpet-desc.webp) center/contain no-repeat,
      url(../../assets/images/rectangle-desc.webp) center bottom/auto no-repeat,
      #f6b83d;
  }

  @media screen and (min-resolution: 192dpi) {
    .wrapper {
      background:
        url(../../assets/images/addPet-desc-2x.webp) center/contain no-repeat,
        url(../../assets/images/rectangle-tab.webp) center bottom/auto no-repeat,
        #f6b83d;
    }
  }
}
