.toggleBtn {
  z-index: 10;
}

.toggleBtn svg {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5px;
  stroke: #f6b83d;
  transition: stroke 0.3s ease;
}

.icon {
  width: 18px;
  height: 18px;
}

.toggleBtn:hover svg,
.toggleBtn:focus svg {
  stroke: #f9b020;
}

@media (min-width: 768px) {
  .icon {
    width: 22px;
    height: 22px;
  }
}
