.toggleBtn {
  position: absolute;
  top: 8.5px;
  right: 8.5px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.toggleBtn svg {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5px;
  stroke: #f6b83d;
  transition: stroke 0.3s ease;
}

.icon {
  width: 18px;
  height: 18px;
}

.toggleBtn:hover svg,
.toggleBtn:focus svg {
  stroke: #f9b020;
}

@media (min-width: 768px) {
  .icon {
    width: 22px;
    height: 22px;
  }
}
