.editButton {
  position: absolute;
  top: 18px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
  background-color: #fff4df;
  border: none;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: #f6b83d;
  fill: transparent;
}

@media (min-width: 768px) {
  .editButton {
    top: 40px;
    right: 40px;
  }
}
