:root {
  font-family: "Manrope", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  color: #262626;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Manrope", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul:not(.allow-style),
li:not(.allow-style) {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentcolor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
