.home {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.homeHeader {
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 390px;
  background-color: #f6b83d;
  border-radius: 30px;
  padding: 118px 20px 50px 20px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  margin-bottom: 24px;
}

.span {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
}

.imageWrapper {
  width: 100%;
  height: 402px;
  border-radius: 30px;
  background: url(../../assets/images/home-img-mob.webp) center/contain
    no-repeat;
}

@media screen and (min-resolution: 192dpi) {
  .imageWrapper {
    background: url(../../assets/images/home-img-mob-2x.webp) center/contain
      no-repeat;
  }
}

@media (min-width: 768px) {
  .home {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .wrapper {
    border-radius: 60px;
    height: 496px;
    padding: 178px 32px 44px 32px;
  }

  .title {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 32px;
  }

  .text {
    width: 255px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;
    margin-left: 385px;
  }

  .imageWrapper {
    height: 496px;
    border-radius: 60px;
    background: url(../../assets/images/home-img-tab.webp) center/contain
      no-repeat;
  }

  @media screen and (min-resolution: 192dpi) {
    .imageWrapper {
      background: url(../../assets/images/home-img-tab-2x.webp) center/contain
        no-repeat;
    }
  }
}

@media (min-width: 1280px) {
  .wrapper {
    height: 384px;
    padding: 178px 64px 32px 64px;
  }

  .content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 73px;
    height: 100%;
    width: 100%;
  }

  .title {
    max-width: 760px;
    font-size: 90px;
    margin-bottom: 0;
  }

  .text {
    margin-left: 0;
  }

  .imageWrapper {
    height: 384px;
    background: url(../../assets/images/home-img-desc.webp) center/contain
      no-repeat;
  }

  @media screen and (min-resolution: 192dpi) {
    .imageWrapper {
      background: url(../../assets/images/home-img-desc-2x.webp) center/contain
        no-repeat;
    }
  }
}
