.button {
  padding: 10px 16px;
}

.icon {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #fff;
  fill: #fff;
  margin-left: 4px;
}

@media (min-width: 768px) {
  .button {
    padding: 10px 20px;
    height: 40px;
  }
}
