.userBlock {
  margin-bottom: 40px;
}

.iconWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 38px;
  border-radius: 30px;
  background-color: #f6b83d;
}

.user {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}

.icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  stroke-width: 2px;
  stroke: #fff;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 94px;
  height: 94px;
  margin: 0 auto 28px;
}

.avatar {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100px;
}

.bigIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff4df;
}

.bigIcon {
  width: 40px;
  height: 40px;
  fill: #f6b83d;
  stroke-width: 2px;
  stroke: #f6b83d;
}

.uploadButton {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  font-weight: 500;
}

.info {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  text-align: left;
  margin-bottom: 20px;
}

.item {
  text-align: left;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px !important;
  width: 100%;
  height: 42px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.itemValue {
  border: 1px solid #f6b83d;
}

.text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #262626;
}

@media (min-width: 768px) {
  .iconWrapper {
    position: absolute;
    left: 40px;
    top: 40px;
  }

  .info {
    font-size: 18px;
    line-height: 1.33333;
  }

  .list {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
  }

  .item {
    max-width: 305px;
    height: 52px;
    padding: 16px !important;
  }

  .item:not(:last-child) {
    margin-bottom: 0px;
  }

  .text {
    font-size: 16px;
    line-height: 1.25;
  }
}
