.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88vh;
  padding: 0px 33px;
  border-radius: 30px;
  background-color: #f6b83d;
}

.pageTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  font-size: 120px;
  line-height: 1;
  color: #fff;
  margin-bottom: 20px;
}

.img {
  width: 109px;
  height: 109px;
}

.innerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.link {
  width: 150px;
  height: 42px;
  border-radius: 30px;
  padding: 12px 30px;
  background-color: #fff4df;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #f6b83d;
  transition: background-color 0.3s ease-in-out;
}

.link:hover {
  background-color: #fbe7c1;
}

@media (min-width: 768px) {
  .notFoundPage {
    height: 85vh;
    border-radius: 60px;
    margin-top: 12px;
  }

  .pageTitle {
    font-size: 300px;
    gap: 0;
    margin-bottom: 40px;
  }

  .img {
    width: 280px;
    height: 280px;
  }

  .text {
    font-size: 24px;
    line-height: 1.16667;
  }

  .link {
    width: 162px;
    height: 48px;
    font-size: 16px;
    line-height: 1.25;
    padding: 14px 30px;
  }
}

@media (min-width: 1280px) {
  .pageTitle {
    padding: 0 283px;
  }
}
