.searchWrapper {
  position: relative;
  width: 100%;
  height: 42px;
}

.form {
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  background-color: transparent;
}

input:hover,
.input:focus {
  outline: none;
  border: 1px solid #f6b83d;
}

.button,
.clearBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
}

.button {
  top: 12px;
  right: 12px;
}

.clearBtn {
  top: 12px;
  right: 36px;
}

.icon,
.clearIcon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #262626;
  stroke-width: 2px;
}

.clearIcon {
  fill: #262626;
}

@media (min-width: 768px) {
  .searchWrapper {
    height: 48px;
  }

  .input {
    padding: 14px;
  }

  .button {
    top: 15px;
    right: 14px;
  }

  .clearBtn {
    top: 15px;
    right: 36px;
  }
}
